@font-face {
    font-family: twemoji;
    src: url("../font/twemoji.ttf");
}

@font-face {
    font-family: open-sans;
    src: url("../font/opensans.ttf");
}

@font-face {
    font-family: notocoloremoji;
    src: url("../font/notocoloremoji.ttf");
}

@font-face {
    font-family: openmoji-color;
    src: url("../font/openmojicolor.ttf");
}

@font-face {
    font-family: openmoji-black;
    src: url("../font/openmojiblack.ttf");
}

* {
    scrollbar-color: rgb(10, 132, 255) rgba(150, 150, 150, 0);
    scrollbar-width: thin;
    outline: 0px solid transparent;
}

*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    /* or add it to the track */
}

*::-webkit-scrollbar-thumb {
    background: #3399ff;
}

body {
    background-color: transparent;
    color: black;
    width: auto;
    /*It's set in js script*/
    height: auto;
    overflow: hidden;
    font-family: twemoji, sans-serif;
    margin: 0px;
}

#popup-content {
    width: auto;
    /*It's set in js script*/
    height: auto;
    /*It's set in js script*/
    margin: 0px;
    border: 0px solid transparent;
    position: relative;
    overflow: hidden;
    font-family: inherit;
}

#emojis {
    position: relative;
    width: 100%;
    height: auto;
    /*it's set in js script*/
    margin: 0px;
    padding: 2px;
    overflow: hidden;
    overflow-y: auto;
}

.emoji,
.review-button,
.button {
    background-color: rgb(255, 255, 255);
    padding: 5px;
    width: 40px;
    height: 40px;
    color: black;
    border: 0px;
    border-radius: 3px;
    font-size: 22px;
    /*font-family: twemoji, sans-serif;*/
    margin: 5px;
    cursor: pointer;
    position: relative;
    transition: 0.1s;
    box-sizing: border-box;
    font-family: inherit;
}

.button {
    width: auto;
    font-family: open-sans, monospace, sans-serif;
}

.emoji:hover,
.review-button:hover,
.button:hover {
    background-color: rgb(221, 222, 223);
}

.emoji:active,
.emoji:focus,
.review-button:active,
.button:active {
    box-shadow: 0px 0px 0px 2px #0a84ff, 0px 0px 0px 5px #b1d6fc;
}

.size-emoji-button-30 {
    width: 30px;
    height: 30px;
    font-size: 14px;
}

.size-emoji-button-35 {
    width: 30px;
    height: 30px;
    font-size: 18px;
}

.size-emoji-button-40 {
    width: 40px;
    height: 40px;
    font-size: 22px;
}

.size-emoji-button-50 {
    width: 50px;
    height: 50px;
    font-size: 28px;
}

.size-emoji-button-60 {
    width: 60px;
    height: 60px;
    font-size: 34px;
}

#titles {
    position: relative;
    width: 100%;
    height: 36px;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.section-title {
    background-color: transparent;
    width: auto;
    height: 100%;
    padding: 3px;
    color: rgb(10, 132, 255);
    border: 0px;
    border-radius: 0px;
    font-size: 16px;
    /*border-top: 3px solid rgb(10, 132, 255);*/
    border-top: 3px solid transparent;;
    border-bottom: 1px solid rgb(201, 202, 203);
    font-family: inherit;
    margin: 0px;
    cursor: pointer;
    position: relative;
    font-weight: bold;
    transition: 0.1s;
}

.section-title:hover,
.letter:hover {
    background-color: rgb(221, 222, 223);
}

.section-title:active {
    background-color: rgb(201, 202, 203);
}

.character-copied,
div#review-message {
    position: fixed;
    bottom: 3px;
    right: 30%;
    left: 30%;
    text-align: center;
    height: auto;
    width: auto;
    font-size: 16px;
    color: rgb(221, 222, 223);
    z-index: 999;
    background-color: #0a84ff;
    border-radius: 3px;
    padding: 5px;
    margin: 0px;
    border: 0px solid transparent;
    font-weight: bold;
    font-family: open-sans, sans-serif;
}

.font-twemoji {
    font-family: twemoji, sans-serif;
}

.font-openmojicolor {
    font-family: openmoji-color, sans-serif;
}

.font-openmojiblack {
    font-family: openmoji-black, sans-serif;
}

.font-notocoloremoji {
    font-family: notocoloremoji, sans-serif;
}

.font-opensans {
    font-family: open-sans, sans-serif;
}

.font-zillaslab {
    font-family: open-sans, sans-serif;
}

.font-default {
    font-family: sans-serif;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-22 {
    font-size: 22px;
}

.font-size-25 {
    font-size: 25px;
}

.font-color-red {
    color: #FF0000;
}

.font-color-lightblue {
    color: #0a84ff;
}

.font-color-gray {
    color: rgb(177, 177, 178);
}

.font-color-gray {
    color: #000000;
}

.border-1-black {
    border: 1px solid #000000;
}

.border-1-lightblue {
    border: 1px solid #0a84ff;
}

.border-1-gray {
    border: 1px solid rgb(177, 177, 178);
}

.margin-right-5 {
    margin-right: 5px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

div#review-message {
    top: 5px;
    bottom: auto;
    left: 5px;
    right: 5px;
    padding: 10px;
    font-size: 18px;
    z-index: 10;
    font-weight: bold;
}

div#background-opacity-review {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: auto;
    height: auto;
    background-color: black;
    opacity: 0.4;
    z-index: 9;
}

button.review-button {
    width: auto;
    font-size: 14px;
    font-family: open-sans, sans-serif;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
}

div#review-message-buttons {
    display: block;
    text-align: right;
    margin: 0px;
    margin-top: 10px;
}

#top-section {
    background: transparent;
    margin: 6px;
    height: 34px;
    position: relative;
}

#search-bar-input {
    border-radius: 3px;
    padding: 6px;
    padding-left: 30px;
    height: 32px;
    width: 100%;
    font: inherit;
    font-size: 14px;
    transition: 0.1s;
    font-family: open-sans, sans-serif;
    background-image: url("../img/search-icon.png");
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 12px auto;
}

#text-click-on-emoji-to-remove {
    height: 32px;
    width: 100%;
    font-family: open-sans, sans-serif;
    font-size: 16px;
    display: none;
    margin: 5px;
}

#search-bar-input:focus {
    border: 1px solid #0a84ff;
    box-shadow: 0px 0px 0px 2px #0a84ff, 0px 0px 0px 5px #b1d6fc;
}

#search-box {
    top: 0px;
    left: 0px;
    right: 80px;
    position: absolute;
    transition: 0.2s;
}

.light-settings-button {
    background-image: url("../img/settings-dark.png");
}

.dark-settings-button {
    background-image: url("../img/settings-light.png");
}

.light-delete-button {
    background-image: url("../img/delete-dark.png");
}

.dark-delete-button {
    background-image: url("../img/delete-light.png");
}

#settings-button, #delete-button, #hide-settings-button, #finish-edit-button {
    top: 0px;
    right: 0px;
    position: absolute;
    width: 32px;
    height: 32px;
    font-size: 16px;
    margin: 0px;
    font-family: inherit;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 16px;
}

#delete-button {
    right: 40px;
    display: block;
}

#finish-edit-button {
    right: 40px;
    display: none;
    width: 80px;
}

#hide-settings-button {
    background-image: url("../img/close-dark.png");
    background-size: auto 12px;
    top: 5px;
    right: 5px;
}

#no_emojis_found,
#no_most_used_emojis {
    font-family: open-sans, sans-serif;
    text-align: center;
    padding: 50px;
    width: auto;
    margin: 5px;
    font-size: 20px;
}

div#settings-section {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 10px;
    font-size: 18px;
    z-index: 10;
    font-weight: normal;
    display: none;
    position: absolute;
    font-family: open-sans, sans-serif;
    overflow: auto;
}

.red-button {
    background-color: rgb(255, 214, 214);
}

.red-button:hover {
    background-color: rgb(255, 173, 173);
}

#settings-title {
    padding: 0px;
    padding-left: 10px;
    margin: 0px;
    font-size: 25px;
    font-weight: normal;
    font-family: inherit;
    text-align: left;
}

#settings-section-content {
    overflow: auto;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    height: auto;
    width: auto;
}

#clear-data-settings,
#save-data-settings,
#reset-data-settings {
    width: auto;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
    margin: 0px;
    font-size: 14px;
    font-family: open-sans, sans-serif;
}

div {
    background-color: inherit;
}

#made-in-basilicata-settings {
    width: auto;
    text-align: center;
    font-size: 14px;
    margin: 0px;
    background-color: inherit;
    border-top: 1px solid #0a84ff;
    box-sizing: border-box;
    padding: 10px;
    font-family: open-sans, sans-serif;
}

.subsection-settings {
    position: relative;
    color: inherit;
}

.title-subsection-settings {
    font-size: 16px;
    height: 30px;
    font-family: open-sans, sans-serif;
    display: inline-block;
    min-width: 60px;
}

.description-subsection-settings {
    font-size: 14px;
    height: 30px;
    font-family: open-sans, sans-serif;
    display: none;
    color: #0a84ff;
    font-style: italic;
    font-weight: bold;
    position: relative;
}

#subsection-settings-bottom {
    text-align: right;
}

.select {
    width: 140px;
    font-size: 14px;
    height: 30px;
    background-color: #F5F5F5;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    color: black;
    border: 0px;
    border-radius: 3px;
    font-family: open-sans, sans-serif;
    background-image: url("../img/arrow-select.png");
    background-repeat: no-repeat;
    background-position: 110px center;
    background-size: 10px auto;
    margin: 5px;
    cursor: pointer;
    position: relative;
    transition: 0.1s;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0px;
    text-overflow: '';
}

.select-small {
    width: 100px;
    background-position: 70px center;
}

.select-big {
    width: 150px;
    background-position: 120px center;
}

.select-extra-big {
    width: 250px;
    background-position: 220px center;
}

/*Dark and light themes*/

.light-settings {
    background-color: #FFFFFF;
    color: #000000;
}

.light-search-bar-input {
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(225, 225, 226);
}

.light-search-bar-input:hover {
    border-color: rgb(177, 177, 178);
}

.dark,
.dark-button-emoji,
.dark-settings {
    background-color: rgb(30, 30, 30);
    color: #EEEEEE;
}

.light-save-data-settings-button,
.light-reset-data-settings-button,
.light-settings-button,
.light-delete-button,
.light-finish-edit-button {
    background-color: #F5F5F5;
}

.dark-save-data-settings-button,
.dark-reset-data-settings-button,
.dark-settings-button,
.dark-delete-button,
.dark-finish-edit-button {
    background-color: rgb(70, 70, 70);
    color: #EEEEEE;
}

.dark-select {
    background-color: rgb(70, 70, 70);
    background-image: url("../img/arrow-select-light.png");
    color: #EEEEEE;
}

.dark-search-bar-input {
    background-color: rgb(50, 50, 50);
    border: 1px solid rgb(70, 70, 70);
    color: #EEEEEE;
}

.dark-search-bar-input:hover {
    border: 1px solid rgb(90, 90, 90);
}

.dark-section-title {
    border-bottom: 1px solid rgb(70, 70, 70);
}

.dark-section-title:hover,
.dark-button-emoji:hover,
.dark-settings-button:hover,
.dark-delete-button:hover,
.dark-finish-edit-button:hover,
.dark-save-data-settings-button:hover,
.dark-reset-data-settings-button:hover {
    background-color: rgb(50, 50, 50);
}

.dark-section-title:active {
    background-color: rgb(70, 70, 70);
}

.light-subsection-settings,
.dark-subsection-settings {
    border-bottom: 1px solid #DDDDDD;
    padding: 5px;
}

.dark-subsection-settings {
    border-bottom: 1px solid #555555;
}

#skin-tone-container, #auto-close-container, #multi-copy-container, #theme-container {
    position: relative;
    height: 30px;
    display: inline-block;
    top: 0px;
    margin-left: 10px;
}

#auto-close-container, #multi-copy-container, #theme-container {
    min-width: 100px;
    width: auto;
}

.skin-tone-button {
    border: 0px solid transparent;
    background: transparent;
    width: 25px;
    height: 25px;
    display: inline-block;
    opacity: .8;
    cursor: pointer;
    border-radius: 50%;
}

.skin-tone-button:hover {
    opacity: 1;
}

.skin-tone-button-selected {
    border: 2px solid #3399ff;
}

#skin-standard {
    background-color: #ffDD00;
}

#skin-light {
    background-color: #FFDAE6;
}

#skin-mlight {
    background-color: #d4adad;
}

#skin-medium {
    background-color: #966a6a;
}

#skin-mdark {
    background-color: #603a3a;
}

#skin-dark {
    background-color: #372323;
}

#skin-tone-container {
    position: absolute;
    height: 30px;
    display: inline-block;
    top: 0px;
    margin-left: 10px;
}

.button-yes-no {
    border: 2px solid #3399ff;
    background: transparent;
    min-width: 50px;
    width: auto;
    height: 30px;
    display: inline-block;
    opacity: 1;
    cursor: pointer;
    color: inherit;
    text-align: center;
}

.button-yes-no-selected {
    background-color: #3399ff;
    color: #FFFFFF;
}

.button-yes {
    border-radius: 0px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.button-no {
    border-radius: 0px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-left: -5px;
}

.hidden {
    display: none;
}