@font-face
{
	font-family: source code pro;
	src: url("../font/sourcecodepro.ttf");
}
@font-face
{
	font-family: zilla slab;
	src: url("../font/zillaslab.otf");
}
body
{
	background-color: transparent;
	color: black;
	width: 284px;
	height: 287px;
	overflow: hidden;
}
#popup-content
{
	width: 284px;
	height: 287px;
	margin: 2px;
	margin-left: -1px;
	margin-right: -1px;
	background-color: transparent;
	border: 1px solid transparent;
	position: relative;
	overflow: hidden;
}
#emojis
{
	position: absolute;
	width: 288px;
	height: 287px;
	top: 0px;
	left: 0px;
	padding: 2px;
	padding-left: 4px;
	padding-right: 4px;
	overflow: hidden;
}
.emoji
{
	background-color: rgb(255, 255, 255);
	padding: 5px;
	width: 40px;
	height: 40px;
	color: black;
	border: 0px;
	border-radius: 3px;
	font-size: 18px;
	font-family: source code pro;
	margin: 3px;
	cursor: pointer;
	position: relative;
	transition: 0.1s;
}
.emoji:hover
{
	background-color: rgb(221, 222, 223);
}
.emoji:active, .emoji:focus
{
	box-shadow: 0px 0px 0px 2px #0a84ff, 0px 0px 0px 5px #b1d6fc;
}