@font-face {
    font-family: twemoji;
    src: url("../font/twemoji.ttf");
}

@font-face {
    font-family: zilla-slab;
    src: url("../font/zillaslab.otf");
}

* {
    scrollbar-color: rgb(10, 132, 255) rgb(255, 255, 255);
    scrollbar-width: thin;
}

body {
    background-color: transparent;
    color: black;
    width: auto; /*It's set in js script*/
    height: auto;
    overflow: hidden;
    font-family: twemoji;
}

#popup-content {
    width: auto; /*It's set in js script*/
    height: auto; /*It's set in js script*/
    margin: 0px;
    border: 0px solid transparent;
    position: relative;
    overflow: hidden;
}

#emojis {
    position: relative;
    width: 100%;
    height: auto; /*it's set in js script*/
    margin: 0px;
    padding: 2px;
    overflow: hidden;
    overflow-y: auto;
}

.emoji {
    background-color: rgb(255, 255, 255);
    padding: 5px;
    width: 40px;
    height: 40px;
    color: black;
    border: 0px;
    border-radius: 3px;
    font-size: 18px;
    font-family: inherit;
    margin: 5px;
    cursor: pointer;
    position: relative;
    transition: 0.1s;
}

.emoji:hover {
    background-color: rgb(221, 222, 223);
}

.emoji:active, .emoji:focus {
    box-shadow: 0px 0px 0px 2px #0a84ff, 0px 0px 0px 5px #b1d6fc;
}


#titles {
    position: relative;
    width: 100%;
    height: 36px;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.section_title {
    background-color: transparent;
    width: auto;
    height: 100%;
    padding: 3px;
    color: rgb(10, 132, 255);
    border: 0px;
    border-radius: 0px;
    font-size: 14px;
    /*border-top: 3px solid rgb(10, 132, 255);*/
    border-top: 3px solid transparent;;
    border-bottom: 1px solid rgb(201, 202, 203);
    font-family: inherit;
    margin: 0px;
    cursor: pointer;
    position: relative;
    font-weight: bold;
    transition: 0.1s;
}

.section_title:hover, .letter:hover {
    background-color: rgb(221, 222, 223);
}

.section_title:active {
    background-color: rgb(201, 202, 203);
}

b.character-copied {
    position: fixed;
    bottom: 3px;
    right: 30%;
    left: 30%;
    text-align: center;
    height: auto;
    width: auto;
    font-size: 16px;
    color: rgb(221, 222, 223);
    z-index: 999;
    background-color: #0a84ff;
    border-radius: 3px;
    padding: 5px;
    margin: 0px;
    border: 0px solid transparent;
    text-align: center;
    width: auto;
    font-weight: bold;
    font-family: zilla-slab;
}

#search-box {
    background: transparent;
    margin: 6px;
    height: 34px;
}

#search-bar-input {
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(225, 225, 226);
    border-radius: 3px;
    padding: 6px;
    padding-right: 36px;
    height: 32px;
    width: 100%;
    font: inherit;
    font-size: 14px;
    transition: 0.1s;
    font-family: zilla-slab;
}

#search-bar-input:hover {
    border-color: rgb(177, 177, 178);
}

#search-bar-input:focus {
    border: 1px solid #0a84ff;
    box-shadow: 0px 0px 0px 2px #0a84ff, 0px 0px 0px 5px #b1d6fc;
}

#no_emojis_found {
    font-family: zilla-slab;
    text-align: center;
    padding: 50px;
    width: auto;
    margin: 5px;
    font-size: 20px;
}